@import '../utils/index.css';
@import '../components/status-bar.css';
@import '../components/bottom-navbar.css';

.center {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.smart-downloads {
  display: flex;
  align-items: center;
}

.smart-downloads__img {
  width: 15px;
}

.smart-downloads__text {
  font-size: 14px;
  margin-left: 4px;
}

.titles {
  margin-top: 35px;
  margin-bottom: 31px;
  text-align: left;
}

.titles__main {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 20px;
}

.titles__secondary {
  font-size: 11px;
  line-height: 18px;
}

.image {
  width: 177px;
  height: 177px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.setup {
  width: 100%;
  border: none;
  background-color: #0071eb;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 2px;
  padding: 6px 0;
  margin-bottom: 50px;
  line-height: 28px;
}

.find {
  border: none;
  font-weight: 700;
  font-size: 17px;
  border-radius: 3px;
  color: white;
  background-color: #424242;
  padding: 11px;
}

.bottom-navbar__background {
  width: 100%;
  position: fixed;
  bottom: 0;
}
