@import '../utils/index.css';
@import '../components/status-bar.css';
@import '../components/movie.css';
@import '../components/navbar.css';
@import '../components/bottom-navbar.css';
@import '../components/play.css';

body {
  position: relative;
}

.wallpaper {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.play {
  margin-top: 293px;
  margin-bottom: 43px;
}

.title {
  margin-left: 12px;
  font-weight: 700;
  font-size: 21px;
}

.title--big {
  font-size: 27px;
}

#previews {
  margin-top: 23px;
  margin-bottom: 28px;
}

.movie {
  margin-top: 14px;
  margin-bottom: 22px;
}
