@import '../utils/index.css';
@import '../components/status-bar.css';
@import '../components/movie.css';
@import '../components/navbar.css';
@import '../components/bottom-navbar.css';
@import '../components/play.css';
