@import '../utils/index.css';
@import '../components/status-bar.css';
@import '../components/bottom-navbar.css';
@import '../components/profile.css';
@import '../components/share.css';
@import '../components/settings.css';

.manage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.manage__text {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff81;
  line-height: 30px;
  margin-left: 6px;
}

.profile {
  margin-top: 40px;
  margin-bottom: 10px;
}

.settings {
  margin-bottom: 81px;
}
