@import '../utils/index.css';
@import '../components/status-bar.css';
@import '../components/edit-navbar.css';
@import '../components/profile.css';

.edit-navbar {
  margin-top: 13px;
}

.center {
  display: flex;
  height: calc(100vh - 95px);
  justify-content: center;
  align-items: center;
}
