.bottom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.bottom-navbar__background {
  background-color: #121212;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottom-navbar__icon {
  text-align: center;
}

.bottom-navbar__text {
  color: #8c8787;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-top: 2px;
}

.bottom-navbar__text--active {
  color: #fff;
}
