.navbar {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 12px;
}

.navbar__img {
  width: 20px;
}

.navbar__text {
  font-size: 17px;
}
