.play {
  width: 75%;
  margin: 0 auto;
}

.play__top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 11px;
}

.play__title {
  margin-left: 5px;
  font-weight: 700;
  font-size: 13px;
}

.play__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play__icon {
  text-align: center;
}

.play__text {
  font-size: 14px;
  margin-top: 3px;
}

.play-button {
  background-color: #c4c4c4;
  width: 110px;
  height: 45px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button__text {
  color: #000;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 700;
}
