.profile {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.profile__group {
  text-align: center;
}

.profile__img {
  width: 65px;
  height: 60px;
  transition: transform ease-in-out 150ms;
}

.profile__img:hover {
  transform: scale(1.1);
}

.profile__img--big {
  width: 100px;
  height: 92px;
}

.profile__text {
  font-size: 12px;
  margin-top: 5px;
}

.profile--grid {
  display: grid;
  grid-gap: 22px;
  grid-template-columns: 100px 100px;
  justify-content: center;
}
