.profile {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.profile__group {
  text-align: center;
}

.profile__img {
  width: 65px;
  height: 60px;
}

.profile__text {
  font-size: 12px;
  margin-top: 5px;
}
