body {
  background-color: black;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
}

p,
h1,
h2,
h3,
span,
strong {
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
